<app-navbar></app-navbar>


<mat-toolbar class="toolbar2">
  <h1 style=" color: black; font-weight: 700;font-family: 'Poppins', sans-serif;">Tracking <img class="icon"
      src="../assets/img/location.png"> </h1>
  <span class="example-spacer"></span>
</mat-toolbar>


<div class="background">
  <div class="main">
    <mat-form-field appearance="standard" style=" width: 90%;   margin-left: 90px;">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Order Number  " #input>
    </mat-form-field>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 backgroundtable">
      <ng-container matColumnDef="vista">
        <th mat-header-cell *matHeaderCellDef>View</th>
        <td mat-cell *matCellDef="let element">

          <mat-icon mat-raised-button (click)="openDialog(element)">visibility</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="order_Number">
        <th mat-header-cell *matHeaderCellDef> Order number</th>
        <td mat-cell *matCellDef="let element"> {{element.order_Number}} </td>
      </ng-container>

      <ng-container matColumnDef="sold_Number">
        <th mat-header-cell *matHeaderCellDef> Sold number </th>
        <td mat-cell *matCellDef="let element"> {{element.sold_Number}} </td>
      </ng-container>

      <ng-container matColumnDef="sold_to">
        <th mat-header-cell *matHeaderCellDef> Sold to </th>
        <td mat-cell *matCellDef="let element"> {{element.sold_to}} </td>
      </ng-container>


      <ng-container matColumnDef="etd_solicitado">
        <th mat-header-cell *matHeaderCellDef> ETD request </th>
        <td mat-cell *matCellDef="let element"> {{element.etd_solicitado}} </td>
      </ng-container>

      <ng-container matColumnDef="ETA_solicitada">
        <th mat-header-cell *matHeaderCellDef> ETA request </th>
        <td mat-cell *matCellDef="let element"> {{element.ETA_solicitada}} </td>
      </ng-container>

      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef>
        <mat-icon (click)="refresh()">refresh</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

  <div>
    <img class="publicidad   " src="../assets/img/banner2.png" alt="">
  </div>
</div>


