<app-navbar></app-navbar>

<div class="body">
  <mat-card class="card">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile class="stat">
        <section class="py-3 ">
          <div class="container">
            <div class="row">
              <div class="col-lg-9">
              </div>
              <h1>Saldo Disponible</h1>
              <h2>$100.000</h2>
            </div>
          </div>
        </section>
      </mat-grid-tile>
      <mat-grid-tile>
        <section class="py-3 ">
          <div class="container">
            <div class="row">

              <h2>Saldo por Bodega</h2>
              <h3>Bodega 1: $50.000</h3>
              <h3>Bodega 2: $30.000</h3>
              <h3>Bodega 3: $20.000</h3>

            </div>
          </div>
        </section>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card>
</div>