<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class='container'>
  <div class='window'>
    <div class='order-info'>
      <div class='order-info-content'>
        <h2 style="margin-top: 25%;">Amount available</h2>
        <div style="margin-top: 9%;"></div>
        <table class='order-table'>
          <tbody>
            <tr>
              <!-- <td><img src='https://dl.dropboxusercontent.com/s/sim84r2xfedj99n/%24_32.JPG' class='full-width'></img>
              </td> -->
              <td>
                <span class='thin2'>Total amount available</span>
                <br> <br> <br>
              </td>

            </tr>
            <tr>
              <td>
                <div class='price2'><span>${{grupoEmpresario.OrganizationDEO_DisponibleDeCredito_c}}</span></div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class='line'></div>

      </div>
    </div>

    <!-- Segunda zona -->
    <div class='credit-info'>
      <div class='credit-info-content'>
        <h2>Warehouse amount</h2>
        <div class='line'></div>
        <div class="contenedor-bodegas">
          <div *ngFor="let bodega of bodegas">
            <table class='order-table'>
              <tbody>
                <tr>
                  <!-- <td><img src='https://dl.dropboxusercontent.com/s/sim84r2xfedj99n/%24_32.JPG' class='full-width'></img>
                </td> -->
                  <td>
                    <br><span class='thin'>{{bodega.OrganizationName}} - {{bodega.FormattedAddress}}</span>
                    <br> <br>
                  </td>

                </tr>
                <tr>
                  <td>
                    <div class='price'>${{bodega.OrganizationDEO_DisponibleDeCredito_c}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class='line'></div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<img src="../assets/img/12.png" class="publicidad">
