
    <h1 style="color: black; font-weight: 700;font-family: 'Poppins', sans-serif;">Total Containers</h1>
    <div class="container">
    <table>
      <tr class="top">
        <td><strong>SKU</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Quantity </strong></td>
        <td><strong>Request ETD</strong></td>
        <td><strong>Type Container</strong></td>
        <td><strong># Containers</strong></td>
  
      </tr>
  
      <tr *ngFor="let product  of productos" >
        <td>{{product.sku}} </td>
        <td>{{product.description}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.etd}}</td>
        <td>{{product.typeContainer}}</td>
        <td>{{product.quantityContainer}}</td>
      </tr>
    </table>
  </div> 

 


  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" >

  <ng-container matColumnDef="sku">
    <th mat-header-cell *matHeaderCellDef> SKU. </th>
    <td mat-cell *matCellDef="let product"> {{product.sku}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let product"> {{product.description}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="requestEtd">
    <th mat-header-cell *matHeaderCellDef> ETD </th>
    <td mat-cell *matCellDef="let product"> {{product.etd}} </td>
  </ng-container>

  <ng-container matColumnDef="typeContainer">
    <th mat-header-cell *matHeaderCellDef> Type Container </th>
    <td mat-cell *matCellDef="let product"> {{product.typeContainer}} </td>
  </ng-container>

  <ng-container matColumnDef="quantityContainer">
    <th mat-header-cell *matHeaderCellDef> Quantity Container </th>
    <td mat-cell *matCellDef="let product"> {{product.quantityContainer}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let product  of productos; columns: displayedColumns;"></tr>
</table> -->
