<table class="styled-table">
  <thead>
    <tr class="top">
      <th><strong>SKU</strong></th>
      <th><strong>Description</strong></th>
      <th><strong>Quantity </strong></th>
      <th><strong>Request ETD</strong></th>
      <th><strong>Type Container</strong></th>
      <th><strong># Containers</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let shoppingCart of shoppingCartList">
      <td>{{shoppingCart.__ORACO__SKU_c}}</td>
      <td>{{shoppingCart.__ORACO__Product_c}}</td>
      <td>{{shoppingCart.__ORACO__Quantity_c}}</td>
    </tr>
  </tbody>
</table>