<mat-toolbar class="toolbar">
  <img class="logo" src="../assets/logo.png" routerLink="/inicio">
  <span class="example-spacer"></span>
  <button style="font-weight: 700;font-family: 'Poppins', sans-serif;" class="icon" mat-button routerLink="/inicio">
    <mat-icon>home</mat-icon> Home
  </button>
  <button style="font-weight: 700;font-family: 'Poppins', sans-serif;" class="icon" mat-button
    routerLink="/inicio/nueva">
    <mat-icon>shopping_cart</mat-icon>New Order
  </button>
  <button style="font-weight: 700;font-family: 'Poppins', sans-serif;" class="icon" mat-button
    routerLink="/inicio/seguimiento">
    <mat-icon>location_on</mat-icon>Tracking
  </button>
  <span class="example-spacer"></span>
  <button mat-button class="icon" [matMenuTriggerFor]="accounts">
    {{selectedAccount.OrganizationName}}{{selectedAccount.SubjectPartyName}}
  </button>
  <mat-menu #accounts="matMenu">
    <button mat-menu-item
      (click)="selectAccount(this.apiService.account)">{{this.apiService.account.OrganizationName}}</button>
    <button mat-menu-item *ngFor="let account of accountsList"
      (click)="selectAccount(account)">{{account.SubjectPartyName}}</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon class="icon">account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Profile</span>
    </button>
    <button mat-menu-item routerLink="/login">
      <span>Sign out</span>
    </button>
  </mat-menu>
  <mat-menu #accounts="matMenu">
    <button mat-menu-item
      (click)="selectAccount(this.apiService.account)">{{this.apiService.account.OrganizationName}}</button>
    <button mat-menu-item *ngFor="let account of accountsList"
      (click)="selectAccount(account)">{{account.SubjectPartyName}}</button>
  </mat-menu>
</mat-toolbar>