.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
    background: url("src/assets/img/Bosque.png");
    background-repeat: no-repeat;
    background-size: 50% 100%;
}


.verificacion{
    width: 100%;
    max-width: 500px;
    height: 250px;
    text-align: center;
    

}

.buttomancho{
    width: 35%;
    background-color: #006a3a;
    left: 33%;
}




.ancho{
    width: 5px;
}

.derecha{
    left: 30%;
    width: 30%;
    background-color: #006a3a;
    color: #ffff;
 }


 .card{
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);

 }



 button:hover {
    background: #fff;
    color: #006a3a;
}

.diver {
    display: flex;
  }
  .input {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: center;
    color: currentColor;
  }