<div class="body">
    <mat-card style="border-radius: 15px;" class="card">
        <form [formGroup]="form" (ngSubmit)="validar()">
            <div class="verificacion">
                <img src="../assets/index.png" width="50%">

                <p style="margin-top: 30px;font-weight: 700;font-family: 'Poppins', sans-serif;"><strong> Before
                        entering the website, you must declare if you are
                        of legal age in accordance with current legislation
                        of your country, for which, we ask you to enter
                        your date of birth</strong></p>

                <br>
                <mat-form-field>
                    <input #minmaxInput matInput  formControlName="verification"
                    startView="year"
                      [min]="minDate" 
                      [max]="maxDate"
                      [matDatepicker]="minmaxvalidation" 
                      placeholder="Please verify your age" autocomplete="off">
                      <mat-error *ngIf="form.invalid">{{getErrorMessage()}}</mat-error>

                    <mat-datepicker-toggle matSuffix [for]="minmaxvalidation">
                       </mat-datepicker-toggle>
                    <mat-datepicker #minmaxvalidation startView="multi-year"></mat-datepicker>
                  </mat-form-field>

                 
            </div>

            <button type="submit" class="buttomancho" mat-raised-button color="primary"
            style="font-weight: 700;font-family: 'Poppins', sans-serif;" routerLink="/login x       " [disabled]="form.invalid">Yes</button>
        </form>
       
    </mat-card>






