<div class="body">
    <mat-card>
        <form>
            <div class="verificacion">
                <img src="../assets/index.png" width="50%">

                <p style="margin-top: 10px;"><strong>¿Eres mayor de la edad legal para consumo de bebidas con contenido alcohólico en tu país?</strong></p>
               <br>
               <br>
            </div>
            <button [routerLink]="login" class="buttomancho" mat-raised-button color="primary">Si</button>
            <a href="https://es.wikipedia.org/wiki/Edad_m%C3%ADnima_legal_para_el_consumo_de_alcoholhtml"><button
                    type="button" class="derecha" mat-button>No</button></a>
        </form>
    </mat-card>
</div>