.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background: #006a3a;

}

.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
}

.ancho {
    width: 80%;
}

.buttomancho {
    width: 37%;
}

.derecha {
    left: 10px;

}

.buttomcolor {
    background-color: #006a3a;
}