<div class="body">
  <mat-card>
    <div class="login">
      <form [formGroup]="form" (ngSubmit)="ingresar()">
        <img src="../assets/index.png" width="80%">
        <h1>Iniciar sesion</h1>
        <mat-form-field class="ancho">
          <mat-label>Usuario</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="usuario">
        </mat-form-field>
        <mat-form-field class="ancho">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput autocomplete="off" formControlName="password">
        </mat-form-field>
        <br>
        <button type="submit" class="buttomancho buttomcolor" mat-raised-button color="primary"
          [disabled]="form.invalid">Ingresar</button>
      </form>
      <br>
      <a href="">Olvidé Contraseña</a>
    </div>
  </mat-card>
</div>