.toolbar {
    background: #006a3a;
}


.logo {
    width: 200px;
}

.icon {
    color: #ffff;
}

.ancho {
    width: 80%;
}


.toolbar2 {
    color: #efefef;
}

table {
    width: 100%;
}

.icon {
    width: 30px;
    margin-left: 10px;
}

mat-icon {
    margin-left: 10px;
}


button {
    background-color: #006a3a;
    color: white;
    width: 10%;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 12px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-left: 75%;
    margin-top: 230px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}

button:hover {
    background: #fff;
    color: #006a3a;
    border: 1px;
    border-color: #006a3a;
}

.button2{
    margin-top: 5%;
}

::ng-deep .mat-datepicker-toggle{
    color: var(--primary);
 }
 
 ::ng-deep .mat-calendar-body-selected {
    background-color: var(--primary);
    color: #fff;
}
