<app-navbar></app-navbar>

<mat-toolbar class="toolbar2">
  <h1 style="color: black; font-weight: 700;font-family: 'Montserrat', sans-serif;">New Order<mat-icon>shopping_cart
    </mat-icon>
  </h1>
</mat-toolbar>

<mat-card>

  <div class="container">
    <mat-card>
      <form [formGroup]="form" (ngSubmit)="agregarOrden()">
        <mat-grid-list cols="3" rowHeight="100px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>My PO Number</mat-label>
              <input matInput formControlName="poNumber">
            </mat-form-field>
          </mat-grid-tile>
          
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Sold to</mat-label>
              <mat-select formControlName="soldTo">
                <mat-option *ngFor="let soldTo of soldTos" [value]="soldTo.value">
                  {{soldTo.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>


        
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Source</mat-label>
              <mat-select formControlName="source">
                <mat-option *ngFor="let source of sources" [value]="source.value">
                  {{source.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Ship to</mat-label>
              <mat-select formControlName="shipTo">
                <mat-option *ngFor="let shipTo of shipTos" [value]="shipTo.value">
                  {{shipTo.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Incortem</mat-label>
              <input matInput formControlName="incortem">
            </mat-form-field>
          </mat-grid-tile>
          
        
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Country</mat-label>
              <mat-select formControlName="country">
                <mat-option *ngFor="let country of countrys" [value]="country.value">
                  {{country.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Request ETD</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="requestEtd">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="ancho">
              <mat-label>Request ETA</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="requestEta">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          

        </mat-grid-list>
        <br>

        <mat-divider></mat-divider>
        <br>


        <h1 style="font-weight: 700;font-family: 'Montserrat', sans-serif;">Product <mat-icon>inventory_2</mat-icon>
        </h1>

        <mat-grid-list cols="3" rowHeight="100px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
              <mat-label>Cars</mat-label>
              <mat-select formControlName="product" (ngSubmit)="getItems()">
                <mat-option *ngFor="let item of items" [value]="item.description">
                  {{items.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Quantity in case </mat-label>
              <input matInput type="number" formControlName="quantity">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label># of Containers(Order Line)</mat-label>
              <input matInput type="number" formControlName="orderLine">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Loading</mat-label>
              <input matInput type="number" formControlName="loading">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Pallets</mat-label>
              <input matInput formControlName="pallets">
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Container Type</mat-label>
              <mat-select formControlName="containerType">
                <mat-option *ngFor="let containerType of containerTypes" [value]="containerType.value">
                  {{containerType.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Shipment Type</mat-label>
              <mat-select formControlName="shipmentType">
                <mat-option *ngFor="let shipmentType of shipmentTypes" [value]="shipmentType.value">
                  {{shipmentType.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Minimum Order Quantities</mat-label>
              <input matInput type="number" formControlName="minimumOrder">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>


        <button type="submit" class="buttomancho buttomcolor" mat-raised-button
            [disabled]="form.invalid">Add</button>

      </form>
      <br>
      <mat-divider></mat-divider>

      <h1 style="margin-top: 15px;font-weight: 700;font-family: 'Montserrat', sans-serif;">Total Containers <img
          class="icon" src="../assets/img/almacen.png"> </h1>


      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

        <ng-container matColumnDef="sku">
          <th mat-header-cell *matHeaderCellDef> SKU </th>
          <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
        </ng-container>

        <ng-container matColumnDef="producto">
          <th mat-header-cell *matHeaderCellDef> Product description</th>
          <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
        </ng-container>

        <ng-container matColumnDef="etd">
          <th mat-header-cell *matHeaderCellDef> ETD </th>
          <td mat-cell *matCellDef="let element"> {{element.etd}} </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>


        <ng-container matColumnDef="contenedor">
          <th mat-header-cell *matHeaderCellDef> Type of Containers</th>
          <td mat-cell *matCellDef="let element"> {{element.contenedor}} </td>
        </ng-container>

        <ng-container matColumnDef="contenedors">
          <th mat-header-cell *matHeaderCellDef> # of Containers </th>
          <td mat-cell *matCellDef="let element"> {{element.contenedors}} </td>
        </ng-container>

        <ng-container matColumnDef="icon">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon>delete</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="shipment">
          <th mat-header-cell *matHeaderCellDef> Shipment number </th>
          <td mat-cell *matCellDef="let element"> {{element.shipment}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </mat-card>
  </div>