<app-navbar></app-navbar>


<mat-toolbar class="toolbar2">
  <h1 style="color: black; font-weight: 700;font-family: 'Montserrat', sans-serif;">New Order<mat-icon>shopping_cart
    </mat-icon>
  </h1>
</mat-toolbar>
<mat-card>

  <div class="container">
    <mat-card>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-grid-list cols="3" rowHeight="100px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>My PO Number</mat-label>
              <input matInput formControlName="poNumber">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Sold to</mat-label>
              <mat-select formControlName="soldTo">
                <mat-option *ngFor="let soldTo of soldTos" [value]="soldTo.value">
                  {{soldTo.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>



          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Source</mat-label>
              <mat-select formControlName="source">
                <mat-option *ngFor="let source of sources" [value]="source.value">
                  {{source.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Ship to</mat-label>
              <mat-select formControlName="shipTo">
                <mat-option *ngFor="let shipTo of shipTos" [value]="shipTo.value">
                  {{shipTo.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Incortem</mat-label>
              <input matInput formControlName="incortem">
            </mat-form-field>

          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Country</mat-label>
              <mat-select formControlName="country">
                <mat-option *ngFor="let country of countrys" [value]="country.value">
                  {{country.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Request ETD</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="etd">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="ancho">
              <mat-label>Request ETA</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="requestEta">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>


        </mat-grid-list>
        <br>

        <mat-divider></mat-divider>
        <br>


        <h1 style="font-weight: 700;font-family: 'Montserrat', sans-serif;">Product <mat-icon>inventory_2</mat-icon>
        </h1>

        <mat-grid-list cols="3" rowHeight="100px">

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Select Product</mat-label>
              <select matNativeControl name="select">
                <option *ngFor="let product of productsList">{{product.Name}}</option>

              </select>

            </mat-form-field>
          </mat-grid-tile>



          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Quantity in case </mat-label>
              <input matInput type="number" formControlName="quantity">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label># of Containers(Order Line)</mat-label>
              <input matInput type="number" formControlName="orderLine">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Loading</mat-label>
              <input matInput type="number" formControlName="loading">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Pallets</mat-label>
              <input matInput formControlName="pallets">
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Container Type</mat-label>
              <mat-select formControlName="containerType">
                <mat-option *ngFor="let containerType of containerTypes" [value]="containerType.value">
                  {{listaOrdenes.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Shipment Type</mat-label>
              <mat-select formControlName="shipmentType">
                <mat-option *ngFor="let shipmentType of shipmentTypes" [value]="shipmentType.value">
                  {{shipmentType.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Minimum Order Quantities</mat-label>
              <input matInput type="number" formControlName="minimumOrder">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <button class="button" mat-raised-button type="submit" value="enviar">Agregar</button>


        <table *ngFor="let orden of arrOrdenes">
          <tr>
            <td><strong>SKU</strong></td>
            <td><strong>Description</strong></td>
            <td><strong>Quantity </strong></td>
            <td><strong>Request ETD</strong></td>
            <td><strong>Type Container</strong></td>
            <td><strong># Containers</strong></td>
  
          </tr>
  
          <tr>
            <td>{{orden.sku}}</td>
            <td>{{orden.description}}</td>
            <td>{{orden.quantity}}</td>
            <td>{{orden.etd}}</td>
            <td>{{orden.typeContainer}}</td>
            <td>{{orden.quantityContainer}}</td>
  
          </tr>
  
        </table>
      </form>
      <br>
      <mat-divider></mat-divider>


      