 <div class="mdl-card mdl-shadow-2dp">
  <div class="mdl-card-supporting-text" style="text-align: center;" >

    <h1>Number of Order</h1>
    <h2>{{ordenNumero}}</h2>

    <div class="mdl-stepper-horizontal-alternative" #stepper>

      <div class="mdl-stepper-step active-step step-done " >
        <div mat-raised-button class="box1" matBadge="✔" matBadgeSize="large" matBadgeColor="warn"
          matTooltip="Your order has been entered">
          <img src="../assets/img/order.png" width="100%">

        </div>
        <div class="mdl-stepper-title ">
          <h3>Order Received</h3>
        </div>
        <div class="mdl-stepper-optional">Date: {{received}}</div>
      </div>

      <span>&ndash;</span>

      <div class="mdl-stepper-step active-step step-done ">
        <div class="box1"  [matBadge]="estadoReceived" matBadgeSize="large" matTooltip="Your order has been validated">
          <img src="../assets/img/package.png" width="100%">
        </div>
        <div class="mdl-stepper-title">
          <h3> Order Validated</h3>
        </div>
        <div class="mdl-stepper-optional">Date: {{validate}}</div>
      </div>

      <span>&ndash;</span>


      <div class="mdl-stepper-step active-step step-done ">
        <div class="box1" matTooltip="Your order is in process">
          <img src="../assets/img/return-box.png" width="100%">
        </div>
        <div class="mdl-stepper-title">
          <h3>Order in process</h3>
        </div>
        <div class="mdl-stepper-optional">Date: {{process}}</div>
        <div class="mdl-stepper-optional">Estimated process time: 30-45 days</div>
        <br>
      </div>


      <span>&ndash;</span>


      <div class="mdl-stepper-step active-step step-done ">
        <div class="box1" style="align-items: center;" matTooltip="Your order has been shipped">
          <img src="../assets/img/truck.png" width="100%">
        </div>
        <div class="mdl-stepper-title">
          <h3>Order shipped</h3>
        </div>
        <div class="mdl-stepper-optional">Date: {{shipped}}</div>
      </div>

    </div>

  </div> 



