<div class="mdl-card mdl-shadow-2dp">
  <div class="mdl-card-supporting-text">
    <h2>Number of order</h2>
    <div class="mdl-stepper-horizontal-alternative">

      <mat-stepper style="align-items: center;">
        <mat-step >
          <div class="mdl-stepper-step active-step step-done ">
            <div mat-raised-button class="box1 " matBadge="✔" matBadgeSize="large" matBadgeColor="warn"
              matTooltip="Your order has been entered">
              <img src="../assets/img/portapapeles.png" width="70px" style="margin-left: 20px;">
            </div>
            <div class="mdl-stepper-title">
              <h3>Order Received</h3>
            </div>
            <div class="mdl-stepper-optional">Date: XX/XX/XXX</div>
          </div>
        </mat-step>
        <mat-step>

          <div class="mdl-stepper-step active-step step-done">

            <div class="box1" matTooltip="Your order has been validated">
              <img src="../assets/img/package.png" width="85px" style="margin-left: 15px;">
            </div>
            <div class="mdl-stepper-title">
              <h3> Order Validated</h3>
            </div>
            <div class="mdl-stepper-optional">Date: XX/XX/XXX</div>
          </div>
        </mat-step>

        <mat-step>
          <div class="mdl-stepper-step active-step step-done">
            <div class="box1" matTooltip="Your order is in process">
              <img src="../assets/img/return-box.png" width="70px" style="margin-left: 20px;">
            </div>
            <div class="mdl-stepper-title">
              <h3>Order in process</h3>
            </div>
            <div class="mdl-stepper-optional">Date: XX/XX/XXX </div>
            <div class="mdl-stepper-optional">Estimated process time:30-45 days</div>
            <br>
          </div>
        </mat-step>

        <mat-step>
          <div class="mdl-stepper-step active-step step-done">
            <div class="box1" style="align-items: center;" matTooltip="Your order has been shipped">
              <img src="../assets/img/truck.png" width="70px" style="margin-left: 20px;">
            </div>
            <div class="mdl-stepper-title">
              <h3>Order shipped</h3>
            </div>
            <div class="mdl-stepper-optional">Date: XX/XX/XXX</div>
          </div>
        </mat-step>

      </mat-stepper>

    </div>

  </div>

</div>